 .ba {
    border-style: solid;
    border-width: 1px;
}

.bn {
    border-style: none;
    border-width: 0;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fl {
    float: left;
    _display: inline;
}

.input-reset {
    -webkit-appearance: none;
       -moz-appearance: none;
}

.button-reset::-moz-focus-inner, .input-reset::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.lh-solid {
    line-height: 1;
}

.mw7 {
    max-width: 36rem;
}

.w-15 {
    width: 15%;
};

.w-90 {
    width: 90%;
}

.black-80 {
    color: rgba(0, 0, 0, .8);
}

.white {
    color: #fff;
}

.bg-black-70 {
    background-color: rgba(0, 0, 0, .7);
}

.bg-white {
    background-color: #fff;
}

.bg-light-red {
    background-color: #ff725c;
}

.bg-light-blue {
    background-color: lightblue;
}

.hover-bg-black:hover {
    background-color: #000;
}

.hover-bg-black:focus {
    background-color: #000;
}

.pa0 {
    padding: 0;
}

.pa3 {
    padding: 1rem;
}

.pa4 {
    padding: 2rem;
}

.pv3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ma0 {
    margin: 0;
}

.mb3 {
    margin-bottom: 1rem;
}

.tc {
    text-align: center;
}

.f5 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.clip {
    position: fixed !important;
    _position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.pointer:hover {
    cursor: pointer;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .15s ease-in-out;
}
.ba {
    border-style: solid;
    border-width: 1px;
}

.bw1 {
    border-width: .125rem;
}

.bw2 {
    border-width: .25rem;
}

.dib {
    display: inline-block;
}

.fw6 {
    font-weight: 600;
}

.tracked {
    letter-spacing: .1em;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.black {
    color: #000;
}

.near-black {
    color: #111;
}

.dark-gray {
    color: #333;
}

.mid-gray {
    color: #555;
}

.white {
    color: #fff;
}

.purple {
    color: #5e2ca5;
}

.light-purple {
    color: #a463f2;
}

.dark-pink {
    color: #d5008f;
}

.hot-pink {
    color: #ff41b4;
}

.dark-green {
    color: #137752;
}

.navy {
    color: #001b44;
}

.dark-blue {
    color: #00449e;
}

.bg-black {
    background-color: #000;
}

.bg-near-black {
    background-color: #111;
}

.bg-dark-gray {
    background-color: #333;
}

.bg-mid-gray {
    background-color: #555;
}

.bg-purple {
    background-color: #5e2ca5;
}

.bg-light-purple {
    background-color: #a463f2;
}

.bg-dark-pink {
    background-color: #d5008f;
}

.bg-hot-pink {
    background-color: #ff41b4;
}

.bg-dark-green {
    background-color: #137752;
}

.bg-navy {
    background-color: #001b44;
}

.bg-dark-blue {
    background-color: #00449e;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.mb4 {
    margin-bottom: 2rem;
}

.mt4 {
    margin-top: 2rem;
}

.ttu {
    text-transform: uppercase;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}


@media screen and (min-width: 30em) {
    .br2-ns {
        border-radius: .25rem;
    }

    .br--right-ns {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .br--left-ns {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .f4-ns {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .w-25-m {
        width: 15%;
    }

    .w-75-m {
        width: 40%;
    }
}

@media screen and (min-width: 60em) {
    .w-20-l {
        width: 10%;
    }

    .w-80-l {
        width: 70%;
    }

    .pa4-l {
        padding: 2rem;
    }

    .f5-l {
        font-size: 1rem;
    }
}
